@model List<FFStats.Models.SeasonInfo>

@{
    ViewData["Title"] = "Seasons";
}

<div class="page-header">
    <h2>Seasons</h2>
</div>

<div>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Year</th>
                <th>Champion</th>
                <th>2nd place</th>
                <th>3rd place</th>
                <th>Sacko</th>
                <th>Reg. season champion</th>
                <th>Highest points For</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var season in Model)
            {
                <tr>
                    <td class="text-center">@Html.ActionLink($"{season.Year}", "SeasonInfo", "Seasons", new { year = season.Year }, null)</td>
                    <td>@season.Champion?.Name</td>
                    <td>@season.SecondPlace?.Name</td>
                    <td>@season.ThirdPlace?.Name</td>
                    <td>@season.Sacko?.Name</td>
                    <td>@season.RegularSeasonChampion?.Name</td>
                    <td>@($"{season.HighestPointsFor:.00}") (@season.HighestPointsForTeam?.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
