@model List<TeamOverallInfo>

@{
    ViewData["Title"] = "Teams";
    ViewData["Section"] = "Teams";
}

<div class="page-header">
    <h2>Teams</h2>
</div>

<div>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Team</th>
                <th class="text-center">Seasons</th>
                <th class="text-center"># Champion</th>
                <th class="text-center">W</th>
                <th class="text-center">L</th>
                <th class="text-center">Pct</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model)
            {
                <tr>
                    <td>@Html.ActionLink($"{team.Team.Name}", "TeamInfo", "Teams", new { id = team.Team.Id }, null)</td>
                    <td class="text-center">@($"{team.YearsActive.Count} ({(team.YearsActive.Count == 1 ? team.YearsActive.First().ToString() : $"{team.YearsActive.First()} - {team.YearsActive.Last()}")})")</td>
                    <td class="text-center">@team.NumChampion</td>
                    <td class="text-center">@team.CareerRecord.Win</td>
                    <td class="text-center">@team.CareerRecord.Loss</td>
                    <td class="text-center">@($"{team.CareerRecord.Pct:.000}")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
