@{
    ViewData["Title"] = "Index";
}

@model List<TeamOverallInfo>

<h2>Teams</h2>

<table class="table">
    <thead>
        <tr>
            <th>Team</th>
            <th class="align-center">Years</th>
            <th class="align-center"># Champion</th>
            <th class="align-center">W</th>
            <th class="align-center">L</th>
            <th class="align-center">Pct</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@Html.ActionLink($"{team.Team.Name}", "TeamInfo", "Teams", new { id = team.Team.Id }, null)</td>
                <td class="align-center">@team.YearsActive[0]</td>
                <td class="align-center">@team.NumChampion</td>
                <td class="align-center">@team.CareerRecord.Win</td>
                <td class="align-center">@team.CareerRecord.Loss</td>
                <td class="align-center">@($"{team.CareerRecord.Pct:.000}")</td>
            </tr>
        }
    </tbody>
</table>
