@model TeamInfo

@{
    ViewData["Title"] = Model.Team.Name;
}

<div class="page-header">
    <h2>@Model.Team.Name <small>@Model.Team.Owner</small></h2>
</div>

<div>
    <h3>Championship Positions</h3>

    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Year</th>
                <th class="text-center">Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pr in Model.PlayoffFinalRecords)
            {
                <tr>
                    <td class="text-center">@pr.Year</td>
                    <td class="text-center">@pr.Rank</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />

<h3>Regular Season</h3>

<div>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Year</th>
                <th class="text-center">Rank</th>
                <th class="text-center">W</th>
                <th class="text-center">L</th>
                <th class="text-center">Pct</th>
                <th class="text-center">PF</th>
                <th class="text-center">PA</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var yr in Model.RegularSeasonRecords)
            {
                <tr>
                    <td class="text-center">
                        @Html.ActionLink($"{yr.Year}", "TeamInfoSeason", "Teams", new { id = Model.Team.Id, year = yr.Year }, null)
                    </td>
                    <td class="text-center">@yr.Rank</td>
                    <td class="text-center">@yr.Win</td>
                    <td class="text-center">@yr.Loss</td>
                    <td class="text-center">@($"{yr.Pct:.000}")</td>
                    <td class="text-center">@($"{yr.PointsFor:0.00}")</td>
                    <td class="text-center">@($"{yr.PointsAgainst:0.00}")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center">Total</td>
                <td></td>
                <td class="text-center">@Model.RegularSeasonCareerRecord.Win</td>
                <td class="text-center">@Model.RegularSeasonCareerRecord.Loss</td>
                <td class="text-center">@($"{Model.RegularSeasonCareerRecord.Pct:.000}")</td>
                <td class="text-center">@($"{Model.RegularSeasonCareerRecord.PointsFor:0.00}")</td>
                <td class="text-center">@($"{Model.RegularSeasonCareerRecord.PointsAgainst:0.00}")</td>
            </tr>
        </tfoot>
    </table>
</div>

<hr />

<h3>Head 2 Head Records</h3>

<div>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Opponent</th>
                <th class="text-center">Win</th>
                <th class="text-center">Loss</th>
                <th class="text-center">Pct</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.H2HRecords)
            {
                <tr>
                    <td>@record.Opponent.Name</td>
                    <td class="text-center">@record.Win</td>
                    <td class="text-center">@record.Loss</td>
                    <td class="text-center">@($"{record.Pct:.000}")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
