@model TeamInfoSeason

@{
    ViewData["Title"] = $"{Model.Year} {Model.Team.Name}";
}

<div class="page-header">
    <h2>
        @Html.ActionLink($"{Model.Year}", "SeasonInfo", "Seasons", new { year = Model.Year }, null)
        @Html.ActionLink($"{Model.Team.Name}", "TeamInfo", "Teams", new { id = Model.Team.Id }, null)
    </h2>
</div>

<div>
    <h3>Regular season</h3>

    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Week</th>
                <th class="text-center">Rank</th>
                <th class="text-center">W</th>
                <th class="text-center">L</th>
                <th class="text-center">Pct</th>
                <th class="text-center">Stk</th>
                <th class="text-center">PF</th>
                <th class="text-center">PA</th>
                <th class="text-center">Net Pts</th>
                <th class="text-center">Avg PF</th>
            </tr>
        </thead>
        <tbody>
            @{
                var prevWin = 0;
                var streak = 0;
                var maxWeek = Model.WeekRecords.Last().Week;

                foreach (var wr in Model.WeekRecords)
                {
                    if (wr.IsPlayoffs)
                    {
                        continue;
                    }

                    if (prevWin < wr.Win)
                    {
                        // won this week
                        streak = (streak >= 0 ? streak + 1 : 1);
                    }
                    else
                    {
                        // lost this week
                        streak = (streak <= 0 ? streak - 1 : -1);
                    }

                    prevWin = wr.Win;

                    <tr>
                        <td class="text-center">@wr.Week</td>
                        <td class="text-center">@wr.Rank</td>
                        <td class="text-center">@wr.Win</td>
                        <td class="text-center">@wr.Loss</td>
                        <td class="text-center">@($"{wr.Pct:.000}")</td>
                        <td class="text-center">@(streak > 0 ? $"W{streak}" : $"L{-streak}")</td>
                        <td class="text-center">@($"{wr.PointsFor:0.00}")</td>
                        <td class="text-center">@($"{wr.PointsAgainst:0.00}")</td>
                        <td class="text-center">@($"{wr.PointsDiff:0.00}")</td>
                        <td class="text-center">@($"{wr.PointsFor / wr.GamesPlayed:0.00}")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<hr />

<div>
    <h3>Head 2 Head Records</h3>

    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Opponent</th>
                <th class="text-center">Win</th>
                <th class="text-center">Loss</th>
                <th class="text-center">Pct</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var h2h in Model.H2HRecords)
            {
                <tr>
                    <td>@h2h.Opponent.Name</td>
                    <td class="text-center">@h2h.Win</td>
                    <td class="text-center">@h2h.Loss</td>
                    <td class="text-center">@($"{h2h.Pct:.000}")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />

<div>
    <h3>Games</h3>

    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Week</th>
                <th>Opponent</th>
                <th></th>
                <th colspan="3" class="text-center">Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var game in Model.Games)
                {
                    var me = game.GetMyGameScore(Model.Team.Id);
                    var opponent = game.GetOpponentGameScore(Model.Team.Id);
                    var result = game.HasValidResult ? (me.Points > opponent.Points ? "Win" : "Loss") : "";

                    <tr>
                        <td class="text-center">@game.Week</td>
                        <td>@opponent.Team.Name</td>
                        <td class="text-center">@result</td>
                        <td class="text-right">@($"{me.Points:0.00}")</td>
                        <td class="text-right">-</td>
                        <td class="text-left">@($"{opponent.Points:0.00}")</td>
                        <td>@Html.ActionLink("Game Center", "GameCenter", "Games", new { year = Model.Year, week = game.Week })</td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>

<hr />

<div>
    <h3>Players</h3>

    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Position</th>
                <th>Player</th>

                @for (int week = 1; week <= maxWeek; ++week)
                {
                    <th class="text-center">@($"{week}")</th>
                }

                <th class="text-center">Start Pct</th>
            </tr>
        </thead>
        <tbody>
            @{
                var prevPosition = string.Empty;

                foreach (var player in Model.Players)
                {
                    var pos = (player.Player.Position.ToString() == prevPosition ? string.Empty : player.Player.Position.ToString());

                    <tr>
                        <td class="text-center">@pos</td>
                        <td>@player.Player.Name</td>

                        @{
                            var prevWeek = 0;

                            foreach (var re in player.RosterEntries)
                            {
                                ++prevWeek;

                                if (prevWeek != re.Week)
                                {
                                    <td colspan="@(re.Week-prevWeek)" />
                                    prevWeek = re.Week;
                                }

                                <td class="text-center">
                                    @if (re.Position == FFStats.Models.Enums.Position.RES)
                                    {
                                        <div>RES</div>
                                    }
                                    else if (re.IsByeWeek)
                                    {
                                        <div>Bye</div>
                                    }
                                    else
                                    {
                                        <div>@re.Position</div>
                                        <div>@($"{re.Points:0.00}")</div>
                                    }
                                </td>
                            }

                            if (prevWeek != maxWeek)
                            {
                                <td colspan="@(maxWeek-prevWeek)" />
                            }
                        }

                        <td class="text-center">@($"{100 * player.StartPct:0.0}")</td>
                    </tr>

                    prevPosition = player.Player.Position.ToString();
                }
            }
        </tbody>
    </table>
</div>
