@model List<PlayerCareerInfo>

@{
    ViewData["Title"] = "Players";
    ViewData["Section"] = "Players";
}

<div class="page-header">
    <h2>Players</h2>
</div>

<div>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Player</th>
                <th class="text-center">Position</th>
                <th class="text-center">Teams</th>
                <th class="text-center">On roster</th>
                <th class="text-center">Started</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model)
            {
                <tr>
                    <td>@Html.ActionLink($"{player.Player.Name}", "PlayerInfo", "players", new { id = player.Player.Id })</td>
                    <td class="text-center">@player.Player.Position</td>
                    <td class="text-center">@player.NumTeams</td>
                    <td class="text-center">@player.WeeksOnRoster</td>
                    <td class="text-center">@player.WeeksStarted</td>
                </tr>
            }
        </tbody>
    </table>
</div>
