
@{
    ViewData["Title"] = "Index";
}

@model List<PlayerCareerInfo>

<h2>Players</h2>

<table class="table">
    <thead>
        <tr>
            <th>Player</th>
            <th>Position</th>
            <th class="align-center">Teams</th>
            <th class="align-center">On roster</th>
            <th class="align-center">Started</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@Html.ActionLink($"{player.Player.Name}", "PlayerInfo", "players", new { id = player.Player.Id })</td>
                <td class="align-center">@player.Player.Position</td>
                <td class="align-center">@player.NumTeams</td>
                <td class="align-center">@player.WeeksOnRoster</td>
                <td class="align-center">@player.WeeksStarted</td>
            </tr>
        }
    </tbody>
</table>
