@model PlayerInfo

@{
    ViewData["Title"] = Model.Player.Name;
}

<div class="page-header">
    <h2>@Model.Player.Name <small>@Model.Player.Position</small></h2>
</div>

<div>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Year</th>
                <th class="text-center">Teams</th>
                <th class="text-center">On roster</th>
                <th class="text-center">Started</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var year in Model.Years)
            {
                <tr>
                    <td class="text-center">@Html.ActionLink($"{year.Year}", "PlayerInfoSeason", "Players", new { id = Model.Player.Id, year = year.Year }, null)</td>
                    <td class="text-center">@year.NumTeams</td>
                    <td class="text-center">@year.WeeksOnRoster</td>
                    <td class="text-center">@year.WeeksStarted</td>
                </tr>
            }
        </tbody>
    </table>
</div>
