@model List<FFStats.Models.RosterEntry>

@{
    ViewData["Title"] = $"{Model[0].Player.Name} - {Model[0].Year}";
    ViewData["Section"] = "Players";
}

<div class="page-header">
    <h2>
        @Html.ActionLink($"{Model[0].Player.Name}", "PlayerInfo", "Players", new { id = Model[0].Player.Id }, null)
        <small>
            @Html.ActionLink($"{Model[0].Year}", "SeasonInfo", "Seasons", new { year = Model[0].Year }, null)
        </small>
    </h2>
</div>

<div>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Week</th>
                <th>Team</th>
                <th class="text-center">Position</th>
                <th class="text-center">Points</th>
                <th class="text-center">Bye</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td class="text-center">@entry.Week</td>
                    <td>@Html.ActionLink($"{entry.Team.Name}", "TeamInfo", "Teams", new { id = entry.TeamId }, null)</td>
                    <td class="text-center">@entry.Position</td>
                    <td class="text-center">@(entry.IsByeWeek ? "-" : $"{entry.Points:0.00}")</td>
                    <td class="text-center">@(entry.IsByeWeek ? "Y" : "")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
