@model GamesInfo

@{
    ViewData["Title"] = $"Game Center: {Model.Year} w{Model.Week}";
    ViewData["Section"] = "Games";
}

@functions
{
    public string FormatPoints(double? points) => $"{points:0.00}";

    public Tuple<int, int> GetPreviousWeek(int year, int week)
    {
        var prevYear = week == 1 ? year - 1 : year;
        var prevWeek = week == 1 ? 16 : week - 1;
        return Tuple.Create(prevYear, prevWeek);
    }

    public Tuple<int, int> GetNextWeek(int year, int week)
    {
        var nextYear = week == 16 ? year + 1 : year;
        var nextWeek = week == 16 ? 1 : week + 1;
        return Tuple.Create(nextYear, nextWeek);
    }

    public object GetPlayerLink(string name, int id)
    {
        return Html.ActionLink(name, "PlayerInfo", "Players", new { id = id });
    }
}

<div class="page-header">
    <h2>Game Center <small>@($"{Model.Year} w{Model.Week}")</small></h2>
</div>

@{ 
    var prevWeek = GetPreviousWeek(Model.Year, Model.Week);
    var nextWeek = GetNextWeek(Model.Year, Model.Week);
}

@foreach (var game in Model.Games)
{
    var team1 = game.TeamInfos[0];
    var team2 = game.TeamInfos[1];

    var team1FontWeightClass = team1.Points > team2.Points ? string.Empty : "font-weight-normal";
    var team2FontWeightClass = team2.Points > team1.Points ? string.Empty : "font-weight-normal";

    <div>
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th class="text-center @team1FontWeightClass">@team1.Team.Name</th>
                    <th class="text-right @team1FontWeightClass">@FormatPoints(team1.Points)</th>
                    <th class="text-right @team2FontWeightClass">@FormatPoints(team2.Points)</th>
                    <th class="text-center @team2FontWeightClass">@team2.Team.Name</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table table-condensed table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Pos</th>
                                    <th>Player</th>
                                    <th class="text-right">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rosterEntry in team1.Roster.Starters)
                                {
                                    <tr>
                                        <td class="text-center">@rosterEntry.Position</td>
                                        <td>@GetPlayerLink(rosterEntry.Player.Name, rosterEntry.Player.Id) (@rosterEntry.Player.Position)</td>
                                        <td class="text-right">@FormatPoints(rosterEntry.Points)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td colspan="2">
                        <table class="table table-condensed table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Pos</th>
                                    <th>Player</th>
                                    <th class="text-right">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rosterEntry in team2.Roster.Starters)
                                {
                                    <tr>
                                        <td class="text-center">@rosterEntry.Position</td>
                                        <td>@GetPlayerLink(rosterEntry.Player.Name, rosterEntry.Player.Id) (@rosterEntry.Player.Position)</td>
                                        <td class="text-right">@FormatPoints(rosterEntry.Points)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table table-condensed table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Pos</th>
                                    <th>Player</th>
                                    <th class="text-right">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rosterEntry in team1.Roster.Bench)
                                {
                                    <tr>
                                        <td class="text-center">@rosterEntry.Position</td>
                                        <td>@GetPlayerLink(rosterEntry.Player.Name, rosterEntry.Player.Id) (@rosterEntry.Player.Position)</td>
                                        <td class="text-right">@FormatPoints(rosterEntry.Points)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td colspan="2">
                        <table class="table table-condensed table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Pos</th>
                                    <th>Player</th>
                                    <th class="text-right">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rosterEntry in team2.Roster.Bench)
                                {
                                    <tr>
                                        <td class="text-center">@rosterEntry.Position</td>
                                        <td>@GetPlayerLink(rosterEntry.Player.Name, rosterEntry.Player.Id) (@rosterEntry.Player.Position)</td>
                                        <td class="text-right">@FormatPoints(rosterEntry.Points)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>
}

<nav>
    <ul class="pager">
        <li class="">
            @Html.ActionLink("« Previous", "GameCenter", "Games", new { year = prevWeek.Item1, week = prevWeek.Item2 })
        </li>
        <li class="">
            @Html.ActionLink("Next »", "GameCenter", "Games", new { year = nextWeek.Item1, week = nextWeek.Item2 })
        </li>
    </ul>
</nav>
